#comprar
  %center
    %p Buenaaa 
    %b #{@user}!!!!
    fenomeno!!!!! Te compraste un: #{@item.title} !!!!!"
    %form{ :method => "get", :action => "/logout" }
      %input{ :type => "submit", :value => "Logout" }

