!= partial :'items/_item_header'
/!= partial :'items/_top_tabs'
%br
%br
/= partial :'items/_ship_payment_methods'
%br
%br
/
  PREGUNTAS
!= partial :'items/_questions'
%br
/
  BOX EDUCATION
!= partial :'items/_education'
/
  ART Vendedor
!= partial :'items/_items_seller'
