%center
  %h1 Ingrese sus datos para comprar el articulo
  %form{ :method => "post", :action => "/login" }
    Nombre:
    %input{ :name => "nombre"}
    %input{ :type => "submit", :value => "Login" }

