%head
  %meta{ "http-equiv" => "Content-Type", :content => "text/html; charset=utf-8" }
  %title
    = @pageTitle
  /
    %base{ :href => "http://www.mercadolibre.com.ar/argentina/ml/" }
  %link{:rel => "stylesheet", :href => "/css/reset.css", :type => "text/css"}
  %link{:rel => "stylesheet", :href => "/css/base.css", :type => "text/css"}
  %link{:rel => "stylesheet", :href => "/css/vip.css", :type => "text/css"}
